HTML, BODY, HEADER, MAIN, H1, H2, UL, LI {
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
	}
BODY {
	font-size: 12pt;
	}
MAIN {
	margin: 10pt;
	}
HEADER {
	padding: 12px;
	background-color: #ff2020;
	color: white;
	}
H1 {
	font-family: sans-serif;
	font-size: 150%;
	}
H2 {
	font-family: sans-serif;
	font-size: 120%;
	}
H1 A {
	text-decoration: inherit;
	color: inherit;
	}
UL {
	padding-left: 2em;
	}
