HTML, BODY {
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
	}
MAIN {
	margin: 10pt;
	}
HEADER {
  margin: 0;
  padding: 12px;
  background-color: #fff0f0;
  color: white;
}
H1 A {
  text-decoration: inherit;
  color: inherit;
}
UL {
  padding-left: 2em;
}
