HTML, BODY, HEADER, MAIN, H1, H2, UL, LI {
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
	}
BODY {
	font-size: 12pt;
	}
MAIN {
	margin: 10pt;
	}
HEADER {
	padding: 12px;
	color: white;
	background-color: #ff2020;
	}
H1 {
	font-family: sans-serif;
	font-size: 150%;
	color: inherit;
	background-color: inherit;
	}
H2 {
	font-family: sans-serif;
	font-size: 120%;
	}
H1 A {
	text-decoration: inherit;
	color: inherit;
	}
UL {
	padding-left: 2em;
	}

DIV.author_box {
	width: 15%;
	max-width: 200px;
	border: thin solid black;
	float: right;
	font-size: 80%;
	}
DIV.author_box IMG {
	width: 100%;
	display: block;
	}
DIV.author_byline {
	font-weight: bold;
	margin: .4em;
	}
DIV.author_blurb {
	margin: .4em;
	}

